<div class="row" id="wlcm">
  <div class="col-md-12" style="text-align: center">
  <h1 class="font-weight-bold">Hurray !!!</h1></div>
</div>
<br>
<div class="d-flex flex-row justify-content-center">
    <div class="p-2 bd-highlight" style="text-align: center;"><h3 class="font-weight-light">Now, You can Creat Chat Room & invite friends via email or join any active chat rooms !!!</h3><br><h2 class="font-weight-light">cReaTe yOur OwN cHaT rOOm</h2></div>
</div>
<br>
<div class="d-flex flex-row justify-content-center">
    <div class="p-2 bd-highlight"><h3 class="font-weight-light">oR</h3></div>
</div>
<br>
<div class="d-flex flex-row justify-content-center" style="text-align: center">
    <div class="p-2 bd-highlight"><h2 class="font-weight-light">jOin Any aCtive ChAt RoOm</h2></div>
</div>
<br>
<div class="d-flex flex-row justify-content-center" >
    <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-info btn-lg" (click)="joinChatRoom()">Proceed</button></div>
</div>
<br>
<div class="d-flex flex-row justify-content-center" style="text-align: center">
    <div class="p-2 bd-highlight"><h3 class="font-weight-light">Hope you Enjoy your Stay here !!! Cheers !</h3></div>
</div>