<div class="row " >
  <div class="col-md-12" style="text-align: center">
  <h1 class="font-weight-light">Please enter the Verification Code & New Password</h1></div>
</div>
<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5"><div>

    <h2 class="form-signin-heading">Reset Your Password</h2></div><br>

    <label for="inputEmail" class="sr-only">Verification Code</label>

    <input type="email" id="inputEmail" class="form-control" [(ngModel)]="verificationCode" placeholder="Verification code" required autofocus>

    <br>

    <label for="inputPassword" class="sr-only">New Password</label>

    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="newPassword" placeholder="New Password" required>

    <br>

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="changePassword()">Proceed</button>

  </div>

  <div class="col-sm"></div>

</div>
